<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>Rothar backend</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/rothar-application-context.xml,WEB-INF/spring/rothar-security-context-v1.xml</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>rothar-simple-cors</filter-name>
		<filter-class>eu.appbucket.rothar.web.filter.SimpleCORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/v1/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>rothar-simple-cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>rothar-dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/rothar-dispatcher-context.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>keep-alive</servlet-name>
		<display-name>KeepAlive</display-name>
		<servlet-class>eu.appbucket.rothar.web.servlet.KeepAlive</servlet-class>
		<init-param>
	        <param-name>version</param-name>
	        <param-value>Wed Dec 17 22:41:57 GMT 2014</param-value>
        </init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rothar-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>keep-alive</servlet-name>
		<url-pattern>/keep-alive</url-pattern>
	</servlet-mapping>
</web-app>
